@charset "UTF-8";

@font-face {
	font-family: "tesla";
	src: url("font.ttf") format("truetype");
}

html, body {
  	margin: 0;
  	padding: 0;
  	background: rgb(60, 60, 60);
  	font-family: "tesla", sans-serif;
  	color: rgb(var(--tx-trval, 0), var(--tx-tgval, 0), var(--tx-tbval, 0));
	text-shadow:
		var(--tx-sval, 1px) 0 rgb(var(--tx-srval, 255), var(--tx-sgval, 255), var(--tx-sbval, 255)),
		calc(-1 * var(--tx-sval, 1px)) 0 rgb(var(--tx-srval, 255), var(--tx-sgval, 255), var(--tx-sbval, 255)),
		0 var(--tx-sval, 1px) rgb(var(--tx-srval, 255), var(--tx-sgval, 255), var(--tx-sbval, 255)),
		0 calc(-1 * var(--tx-sval, 1px)) rgb(var(--tx-srval, 255), var(--tx-sgval, 255), var(--tx-sbval, 255));
  	font-size: var(--tx-fval, 40px);
}

#p5js {
  	position: fixed;
  	inset: 0;
  	z-index: 0;
}

body::before {
  	content: "";
  	position: fixed;
  	inset: 0;
  	background: rgb(var(--bg-rval, 255), var(--bg-gval, 255), var(--bg-bval, 255));
  	opacity: var(--bg-opacity, 0.3);
 	z-index: 1;
 	pointer-events: none;
}

main {
  	position: relative;
  	z-index: 1;
}

canvas {
  	display: block;
}

a {
	margin-left: 15px;
  	margin-right: 15px;
}

.center-text {
    text-align: center;
    width: var(--tx-wid, 600px);
    margin: 0 auto;
}
